.categories {
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}