.modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

form{
    width: 30vw;
}

.btn-close{
    box-shadow: none !important;
}

.modal-header{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.btn-close-light {
  filter: invert(0);
}

.btn-close-dark {
  filter: invert(1);
}

