<div class="modal-header">
    <h5 class="modal-title">
        {{ 'SETTINGS.AUTH.CHANGE_PASSWORD.TITLE' | translate }}
    </h5>
    <button type="button" class="btn-close" [class.btn-close-dark]="isDarkMode() === 'dark'"
        [class.btn-close-light]="isDarkMode() !== 'dark'" (click)="closeModal()">
    </button>
</div>

<div class="modal-container">
    <form [formGroup]="form" class="mt-4">

        <input class="form-control mb-2" type="password"
            [placeholder]="'SETTINGS.AUTH.CHANGE_PASSWORD.CURRENT_PASSWORD' | translate" formControlName="currentPassword" />

        @if (form.errors?.['passwordIncorrrect']) {
        <div class="text-danger text-center mb-3">
            {{ 'SETTINGS.AUTH.CHANGE_PASSWORD.ERROR_INCORRECT_CURRENT' | translate }}
        </div>
        }

        <input class="form-control mb-2" type="password" [placeholder]="'SETTINGS.AUTH.CHANGE_PASSWORD.NEW_PASSWORD' | translate"
            formControlName="newPassword" />

        @if (form.get('newPassword')?.hasError('required') && form.get('newPassword')?.touched) {
        <div class="text-danger text-center mb-3">
            {{ 'SETTINGS.AUTH.CHANGE_PASSWORD.ERROR_NEW_PASSWORD_EMPTY' | translate }}
        </div>
        }

        <input class="form-control mb-2" type="password"
            [placeholder]="'SETTINGS.AUTH.CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate" formControlName="confirmPassword" />

        @if (form.errors?.['passwordMismatch']) {
        <div class="text-danger text-center mb-3">
            {{ 'SETTINGS.AUTH.CHANGE_PASSWORD.ERROR_PASSWORD_MISMATCH' | translate }}
        </div>
        }

        <div class="d-flex justify-content-around mt-4 mb-4">
            <button class="btn" [class.btn-dark]="isDarkMode() !== 'dark'" [class.btn-light]="isDarkMode() === 'dark'"
                [disabled]="form.invalid" (click)="changePassword()">
                {{ 'SETTINGS.AUTH.CHANGE_PASSWORD.UPDATE_BUTTON' | translate }}
            </button>
        </div>

    </form>
</div>