.categories {
  background-color: var(--category-bg);
  border-radius: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 150px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.categories:hover {
  background-color: var(--category-hover-bg);
  color: var(--category-text-hover);
  cursor: pointer;
}

.categories.selected {
  background-color: var(--category-hover-bg);
  color: var(--category-text-hover);
  cursor: pointer;
}

